# IntelliJ IDEA
.idea/
/out/
/*/out
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# NetBeans
nbproject/
nb-configuration.xml
nbactions.xml

# Gradle
.gradle/
build/
**/bin/

# Temp/heap files
.*.sw[a-p]
~*
.DS_Store
*.hprof

# Possible test server folders
server-test/
test-server/
/run/
/krypton/
/krypton*/

# Generated folders
logs
