<?xml version="1.0" encoding="UTF-8" ?>
<!--
    This file is part of the Krypton project, licensed under the GNU General Public License v3.0

    Copyright (C) 2021 KryptonMC and the contributors of the Krypton project

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="DEBUG" packages="org.kryptonmc.krypton.util" shutdownHook="disable">
    <Appenders>
        <TerminalConsole name="CONSOLE">
            <PatternLayout noConsoleNoAnsi="true" pattern="%red{%d{yyyy-MM-dd HH:mm:ss}} %green{[%thread]} %highlight{%level}{STYLE=Logback} %cyan{%logger{0}} - %minecraftFormatting{%msg}%n" />
        </TerminalConsole>
        <Queue name="ServerGuiConsole">
            <PatternLayout pattern="%red{%d{yyyy-MM-dd HH:mm:ss}} %green{[%thread]} %highlight{%level}{STYLE=Logback} %cyan{%logger{0}} - %minecraftFormatting{%msg}%n" />
        </Queue>
        <RollingRandomAccessFile name="File" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz" fileName="logs/latest.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{0} - %minecraftFormatting{%msg}{strip}%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="1000" />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="File" />
            <AppenderRef ref="ServerGuiConsole" />
        </Root>
    </Loggers>
</Configuration>
