name: "build and publish docs"

on: [push, pull_request]

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v3.3.0"
      - name: "Set up JDK 17"
        uses: "actions/setup-java@v3.9.0"
        with:
          java-version: "17"
          distribution: "temurin"
      - name: "Validate Gradle Wrapper"
        uses: "gradle/wrapper-validation-action@v1.0.5"
      - name: "Build & Test"
        uses: "gradle/gradle-build-action@v2.3.3"
        with:
          # Don't bother starting and using a daemon for actions builds as it can't be reused
          arguments: "build --no-daemon"
      - name: "Archive Test Results"
        if: "${{ always() }}"
        uses: "actions/upload-artifact@v3.1.2"
        with:
          name: "test-results"
          path: |
            build/reports/
            */build/reports/
      - name: "Upload JAR"
        uses: "actions/upload-artifact@v3.1.2"
        with:
          name: "jar"
          path: "jar/build/libs/Krypton-*.jar"
      - name: "Upload to downloads API"
        if: "github.event_name == 'push' && github.ref == 'refs/heads/master'"
        run: "./gradlew uploadToApi"
        env:
          DOWNLOADS_API_TOKEN: "${{ secrets.DOWNLOADS_API_TOKEN }}"
      - name: "Publish to Maven"
        if: "github.event_name == 'push' && github.ref == 'refs/heads/master'"
        run: "./gradlew publish"
        env:
          PUBLISH_USERNAME: "${{ secrets.PUBLISH_USERNAME }}"
          PUBLISH_PASSWORD: "${{ secrets.PUBLISH_PASSWORD }}"
  publish-docs:
    if: "github.event_name == 'push' && github.ref_name == 'master'"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v3.3.0"
      - name: "Set up JDK 17"
        uses: "actions/setup-java@v3.9.0"
        with:
          java-version: 17
          distribution: "temurin"
      - name: "Generate documentation"
        uses: "gradle/gradle-build-action@v2.3.3"
        with:
          arguments: "dokkaHtml"
      - name: "Deploy to pages"
        uses: "JamesIves/github-pages-deploy-action@v4.4.1"
        with:
          branch: "docs"
          folder: "api/build/dokka/html"
