name: "Development Build"

on:
  push:
    branches: ["dev"]

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "checkout repository"
        uses: "actions/checkout@v2"
      - name: "setup jdk 11"
        uses: "actions/setup-java@v1"
        with:
          java-version: "16"
          distribution: "adopt"
      - name: "cache gradle"
        uses: "actions/cache@v2"
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: "${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}"
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: "build"
        run: "./gradlew build"
      - name: "cleanup gradle cache"
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
      - name: "upload to packages"
        uses: "actions/upload-artifact@v2"
        with:
          path: "server/build/libs/Krypton-*.jar"
